
@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <div>
        <label class="orm-labe">Title</label>
        <input class="form-control mt-2" />
    </div>

    <div>
        <label class="orm-labe mt-2">SubTitle</label>
        <input class="form-control mb-2" />
    </div>

    <div>
        <label class="orm-labe mt-2">Image</label>
        <input class="form-control mb-2" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

