@model Design
@{
    ViewData["Title"] = "Delete";
}

<div>
    <h4>
        Image
    </h4>
    <p>
        <img src="~/assets/img/@Model.Image" alt="">
    </p>
</div>

<div>
    <h4>
        Title
    </h4>
    <p>
        @Model.Title.
    </p>
</div>

<div>
    <h4>
        Subtitle
    </h4>
    <p>
        @Model.SubTitle.
    </p>
</div>

<form method="post">
    <button type="submit" class="btn btn-primary">Delete</button>
</form>


